@model WhiteGloss.Models.ContactPage

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>

@using (Html.BeginForm("Edit", "Contact", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.ValidationSummary(true)
    <fieldset>
        <legend>Contact</legend>

        @Html.HiddenFor(model => model.Id)
        @Html.HiddenFor(model => model.GalleryImage)
        @Html.HiddenFor(model => model.MapImage)

        <div class="editor-label">
            @Html.LabelFor(model => model.Text)
        </div>
        <div class="editor-field">
            @Html.TextAreaFor(model => model.Text)
            @Html.ValidationMessageFor(model => model.Text)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.MapImage)
        </div>
        <div class="editor-field">
            <img src="@(Model.MapImage)?maxwidth=100&maxheight=100" />
            <br />
            @Html.DisplayFor(model => model.MapImage)
            @Html.ValidationMessageFor(model => model.MapImage)
        </div>

        <div class="editor-label">
            Upload New Map Image
        </div>

        <input id="fileUpload1" name="files" type="file" />

        <div class="editor-label">
            @Html.LabelFor(model => model.GalleryImage)
        </div>
        <div class="editor-field">
            <img src="@(Model.GalleryImage)?maxwidth=100&maxheight=100" />
            <br />
            @Html.DisplayFor(model => model.GalleryImage)
            @Html.ValidationMessageFor(model => model.GalleryImage)
        </div>

        <div class="editor-label">
            Upload New Gallery Image
        </div>

        <input id="fileUpload2" name="files" type="file" />


        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to Admin", "Index", "Admin")
</div>

<script type="text/javascript">
    $("#Text").ckeditor();
</script>