@model IEnumerable<WhiteGloss.Models.ContactPage>

@{
    ViewBag.Title = "Index";
}

<h2>Contact Page</h2>

<table>
    <tr>
        <th>
            Text
        </th>
        <th>
            Map Image
        </th>
        <th>
            Gallery Image
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Text)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MapImage)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.GalleryImage)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
